body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    rgba(220, 224, 233, 0.9) 30%,
    #9caaed 50%
  );
  font-family: Poppins, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 50px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  min-width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 700px;
  height: max-content;
  min-height: 300px;
  background-color: rgba(255, 255, 255, 0.911);
  border-radius: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  padding: 20px;
  box-sizing: border-box;
}

main div {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 16px;
}

/* Date style */
#todayDate {
  color: #fff;
  background-color: rgb(17, 29, 58);
  font-size: 30px;
  margin: 10px;
  padding: 10px 70px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  border: rgba(197, 197, 197, 0.614) solid 2px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

main form {
  border: rgba(197, 197, 197, 1) solid 3px;
  border-radius: 30px;
  justify-content: space-between;
  display: flex;
}

main form input,
main form button {
  padding: 10px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  color: #333;
}

main form input {
  flex-grow: 1;
  margin: 10px 20px;
}

main form i {
  opacity: 0.7;
  font-size: 20px;
  color: #333;
  margin: 10px 10px;
}

main .last-updated {
  font-size: 20px;
  color: #333;
  text-align: right;
  margin: 10px 10px;
}

main .result {
  padding: 20px;
  text-align: center;
}

main .result .cityname {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
}

main .result .name img {
  width: 30px;
  height: 30px;
}

main .temperature img {
  width: 150px;
  filter: drop-shadow(0 10px 50px rgba(0, 0, 0, 1));
}

main .temperature figcaption {
  font-size: 60px;
  font-weight: bold;
}

main .description {
  padding: 20px;
  font-size: 30px;
}

main .result #feelsLike {
  padding: 10px 20px;
  font-size: 20px;
  color: #555;
  font-weight: normal;
}

main ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

main li {
  background-color: rgba(30, 65, 207, 0.911);
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    transparent 50%,
    rgba(0, 0, 0, 0.2) 50%
  );
  font-weight: bold;
  font-size: 20px;
}

main li i {
  font-size: 40px;
  display: block !important;
  margin: 20px 0;
}

.error-message {
  color: red;
  font-size: 20px;
  text-align: left;
  margin-top: 10px;
}
